/**
 * Table of Contents
 *
 * 1.0 - General
 * 2.0 - Header
 * 3.0 - Content
 * 4.0 - Footer
 * 5.0 - Home
 * 6.0 - Art
 * 7.0 - About
 * 8.0 - Contact
 * 9.0 - Responsive
 */

/**
 * 1.0 - General
 */
* {
	box-sizing: border-box;
}
@font-face {
	font-family: "Input";
	src: url("../fonts/input-bold.eot");
	src: url("../fonts/input-bold.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/input-bold.woff") format("woff"),
	     url("../fonts/input-bold.ttf") format("truetype"),
	     url("../fonts/input-bold.svg#8a9868ef88ca3c3538aa18acafcc1dd3") format("svg");
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "Input";
	src: url("../fonts/input-regular.eot");
	src: url("../fonts/input-regular.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/input-regular.woff") format("woff"),
	     url("../fonts/input-regular.ttf") format("truetype"),
	     url("../fonts/input-regular.svg#841331703feb203407d2b481eb322210") format("svg");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Blanch";
	src: url("../fonts/blanch-regular.eot");
	src: url("../fonts/blanch-regular.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/blanch-regular.woff") format("woff"),
	     url("../fonts/blanch-regular.ttf") format("truetype"),
	     url("../fonts/blanch-regular.svg#59fcbb7dfe5e200b693f0aaad77e1763") format("svg");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Blanch";
	src: url("../fonts/blanch-bold.eot");
	src: url("../fonts/blanch-bold.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/blanch-bold.woff") format("woff"),
	     url("../fonts/blanch-bold.ttf")  format("truetype"),
	     url("../fonts/blanch-bold.svg#c3f88d504bf871edbcffdf847147574c") format("svg");
	font-style: normal;
	font-weight: bold;
}
html,
body {
	font-family: "Input", monospace;
	font-size: 62.5%;
	height: 100%;
	margin: 0;
	padding: 0;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	background: url("../images/background2.png");
	margin: 0;
}
a {
	color: #db2c5e;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition: color .5s ease;
	-moz-transition: color .5s ease;
	-o-transition: color .5s ease;
	transition: color .5s ease;
}
a:hover {
	color: #ffe6d7;
}

/**
 * 2.0 - Header
 */
header {
	background: url("../images/background.png");
	height: 100%;
	float: left;
	position: fixed;
	width: 265px;
}
header a {
	color: rgb(219, 44, 94);
	text-decoration: none;
	text-transform: uppercase;
}
#logo {
	margin: 40px 30px 30px 30px;
}
#logo-link {
	background: url("../images/logo.png");
	display: block;
	height: 138px;
	overflow: hidden;
	text-indent: -999px;
	width: 180px;
}
header nav {
	height: 100%;
}
header ul {
	margin: 70px 0;
	padding: 0;
}
header li {
	clear: both;
	float: right;
	height: 18px;
	letter-spacing: 0.3em;
	list-style: none;
	margin: 0;
	overflow: hidden;
	text-align: right;
	-webkit-transform: translateZ(0);
	width: 150px;
}
header li a {
	display: block;
	float: left;
	font-size: 1.5em;
	position: relative;
	text-decoration: none;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100px;
}
header li a:after {
	content: "";
	height: 1px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	width: 100%;
	background: #fff;
}
header li:hover a:after {
	-webkit-transform: translateX(60%);
	-moz-transform: translateX(60%);
	transform: translateX(60%);
}
.active a {
	color: #fff;
}
.active a:after {
	-webkit-transform: translateX(60%);
	transform: translateX(60%);
}

/**
 * 3.0 - Content
 */
#content {
	float: right;
	height: 100%;
	overflow: auto;
	position: relative;
}
#content .content-header {
	background-image: url("../images/marquee.png");
	height: 340px;
	width: 100%;
}
#content .content-header h1 {
	color: #ffe6d7;
	display: inline-block;
	font-family: "Blanch", sans-serif;
	font-weight: normal;
	left: 100px;
	line-height: .75em;
	margin: 0px;
	padding: 0px;
	font-size: 20em;
	padding-bottom: 10px;
	position: absolute;
	top: 150px;
}
#content .content-header h1:after {
	background: #ffe6d7;
	bottom: 0;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	width: 77%;
}
#content .main-content {
	bottom: 0;
	left: 0;
	position: absolute;
	top: 340px;
	width: 100%;
}

/**
 * 4.0 - Footer
 */

/**
 * 5.0 - Home
 */
.preview {
	height: 500px;
	overflow: hidden;
	padding: 20px;
	position: relative;
	width: 100%;
}
.preview h1 {
	background: rgba(219, 44, 94, .7);
	color: #fff;
	font-size: 5em;
	left: 20px;
	letter-spacing: 3px;
	position: absolute;
	text-transform: uppercase;
	top: 20px;
}
.preview-img {
	overflow: hidden;
}
.recent-submissions {
	display: inline-block;
	padding: 20px 0 20px 20px;
	width: 60%;
}
.recent-submissions h1 {
	border-bottom: 2px solid #000;
	display: inline-block;
	font-size: 3.5em;
	letter-spacing: 2px;
	margin: 0 0 10px 0;
	text-transform: uppercase;
}
.submission {
	margin-bottom: 20px;
	overflow: hidden;
	width: 100%;
}
.submission-img {
	height: 350px;
	overflow: hidden;
	width: 100%;
}
.type {
	border-right: 2px solid rgb(219, 44, 94);
	display: inline-block;
	font-size: 3em;
	margin-top: 10px;
	padding-right: 10px;
	text-transform: uppercase;
}
.date {
	display: inline-block;
	font-size: 2em;
	text-transform: uppercase;
}
.submission-text p {
	font-size: 2em;
}
.recent-featured {
	border-left: 1px solid #000;
	display: inline-block;
	float: right;
	margin: 20px 20px 0 0;
	padding-left: 5px;
	position: relative;
	width: 30%;
}
.recent-featured h1 {
	border-bottom: 1px solid rgb(219, 44, 94);
	color: rgb(219, 44, 94);
	display: inline-block;
	font-size: 3em;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.featured {
	height: 300px;
	margin-bottom: 30px;
	overflow: hidden;
	width: 100%;
}
.featured-img {
	height: 150px;
	overflow: hidden;
	width: 100%;
}
.featured-text {
	font-size: 1.8em;
	height: 150px;
	width: 100%;
}

/**
 * 6.0 - Art
 */
.tile-container {
	overflow: hidden;
	padding: 20px;
	position: relative;
	width: 100%;
}
.content-title {
	float: left;
	margin-bottom: 2%;
	overflow: hidden;
	padding-bottom: 32%;
	position: relative;
	width: 25%;
}
.ex {
	background: #000;
	bottom: 0;
	left: 0;
	margin: 10px;
	position: absolute;
	right: 0;
	top: 0;
}
.tile-img {
	background: url("../images/tile.JPG") center;
	background-size: cover;
	height: 80%;
	position: absolute;
	-webkit-transform: translateZ(0);
	width: 100%;
}
.overlay {
	background: #000;
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all .3s ease-in-out;
}
.tile-img a {
	bottom: 0;
	color: #fff;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.tile-img span {
	font-size: 2em;
	font-weight: 100;
	left: 50%;
	padding: 8px;
	position: absolute;
	text-transform: uppercase;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	visibility: hidden;
}
.tile-img span:before {
	background: #fff;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	height: 1px;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	visibility: hidden;
	width: 100%;
}
.tile-img:hover .overlay {
	opacity: .7;
}
.tile-img:hover	 span {
	visibility: visible;
}
.tile-img:hover span:before {
	-webkit-transform: scaleX(.5);
	transform: scaleX(.5);
	visibility: visible;
}
.tile-text {
	bottom: 0;
	height: 20%;
	position: absolute;
	width: 100%;
}
.text-box {
	left: 50%;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 80%;
}
.tile-text p {
	letter-spacing: .2em;
	text-transform: uppercase;
}
.tile-text .title {
	color: #db2c5e;
	margin: 0;
}
.tile-text .date {
	color: #ffe6d7;
}
.tile-text .title:after {
	background: #ffe6d7;
	bottom: 0;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	width: 30%;
}

/**
 * 7.0 - About
 */
.content-about {
	font-size: 1.8em;
	line-height: 1.8em;
	margin: 40px auto;
	width: 70%;
}
.content-about p {
	margin-bottom: 50px;
}
.content-about p span {
	color: rgb(219, 44, 94);
}
.content-about h3 {
	margin: 0;
	text-transform: uppercase;
}

/**
 * 8.0 - Contact
 */
.content-submit {
	display: block;
	font-size: 1.8em;
	line-height: 1.8em;
	margin: 40px auto;
	width: 70%;
}
fieldset {
	margin: 0 auto;
	width: 235px;
}
legend {
	font-size: 125%;
	font-weight: bold;
}
form div.row {
	margin-bottom: 8px;
}
label {
	display: block;
	font-weight: bold;
}
input[type=text],input[type=email] {
	display: block;
	width: 400px;
}
textarea {
	height: 200px;
	width: 400px;
}

/**
 * 9.0 - Responsive
 */
@media screen and (max-width: 1270px) {
	header {
		z-index: 4;
	}
	.content-title {
		padding-bottom: 40%;
		width: 33.3%;
	}
}
@media screen and (max-width: 1050px) {
	#content {
		width: 100% !important;
	}
	header {
		display: block;
		height: auto;
		position: relative;
		width: 100%;
	}
	#logo {
		margin: 0;
	}
	#logo-link {
		margin: 20px auto;
	}
	header nav {
		display: inline-block;
		height: auto;
		padding: 10px;
		text-align: center;
		width: 100%;
	}
	header nav ul {
		display: inline;
	}
	header nav li {
		clear: none;
		float: left;
		margin: 0;
		padding: 0;
		position: relative;
		width: 33.33%;
	}
	nav li a {
		left: 50%;
		padding-bottom: 5px;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: auto;
	}
	.active a:after {
		-webkit-transform: scaleX(100%);
		transform: scaleX(100%);
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	header li a:after {
		background: #fff;
		bottom: 0;
		content: "";
		height: 1px;
		left: 0;
		position: absolute;
		top: auto;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		width: 100%;
	}
	header li:hover a:after {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
	#content {
		height: auto;
		overflow: visible;
		width: 100%;
	}
	#content .content-header {
		display: none;
	}
	#content .main-content {
		position: relative;
		top: 0;
	}
	#content .content-header h1 {
		display: none;
	}
}
@media screen and (max-width: 750px) {
	.content-title {
		padding-bottom: 60%;
		width: 50%;
	}
}
@media screen and (max-width: 700px) {
	#logo-link {
		background: url("../images/logo-mobile.png");
		height: 50px;
		width: 300px;
	}
	.recent-submissions {
		padding: 20px;
		width: 100%;
	}
	.recent-featured {
		display: none;
	}
}
@media screen and (max-width: 520px) {
	.content-title {
		padding-bottom: 120%;
		width: 100%;
	}
}
@media screen and (max-width: 420px) {
	form {
		margin: 0 auto;
		padding: 0;
		width: 90%;
	}
	fieldset {
		overflow: hidden;
		width: 100%;
	}
	input[type=text],input[type=email] {
		display: block;
		width: 100%;
	}
	textarea {
		height: 100px;
		width: 100%;
	}
	input[type=submit] {
		width: 100px;
	}
}
